h1,
h2,
h3,
h4,
p,
li {
    font-family: 'Muli',
        sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

.home-portion {
    background-color: powderblue;
}

.about-portion {
    background-color: rgb(155, 197, 70);
}

.bullet-pts-portion {
    background-color: royalblue;
}


/* ========== */
/* Section */
/* Contact */
/* ========== */
.contact-portion {
    background-color: tomato;
}