h1,
h2,
h3,
h4,
p,
li {
    font-family: 'Muli',
        sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: line-through;
    color: #ffffff;
}

/* .home-portion {
    background-color: powderblue;
} */

.about-portion {
    background-color: rgb(155, 197, 70);
}

.bullet-pts-portion {
    background-color: rgb(156, 177, 240);
}


.contact-portion {
    background-color: tomato;
}

.sized {
    height: 100%;
    width: auto;
}